@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
}

.contenedor {
  margin: auto;
  width: 98%;
}
/* header */

.header {
  height: 60px;
}

.header .contenedor {
  display: flex;
  justify-content: space-between;
}

.logo, .icon-menu{
  margin: 5px;
  color: rgb(71, 71, 61);
}

.icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: rgb(71, 50, 83);
  color: rgb(254, 254, 254);
  text-align: center;
  line-height: 40px;
  margin-left: auto;
  cursor: pointer;
}


/* menu */
.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_link {
  display: block;
  padding: 15px;
  background: rgba(231, 219, 236, .7);
  text-decoration: none;
  color: rgb(85, 64, 87);
}

.menu_link:hover, .select{
  background: white;
  color: rgb(80, 80, 80);
}

.mostrar {
  left: 0;
}

/* banner */

.banner {
  margin-top: -60px;
  position: relative;
  z-index: -1000;
  margin-bottom: 20px;
}

.banner .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
}

.banner_txt {
  display: none;
}

/* footer */
.footer {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer .social [class^="icon-"] {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 30px;
  padding: 7px 10px 10px 5px;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
}

/* responsive */

@media(min-width:480px) {
  .logo {
    font-size: 40px;
  }
  .banner_titulo {
    font-size: 30px;
    margin: 5px 0;
  }
  .banner_txt {
    display: block;
    font-size: 18px;
    margin: 7px 0;
  }
  .footer .social [class^="icon-"] {
    margin: 0 10px;
    padding:  5px 0px 8px 0;
  }

}
@media(min-width:768px) {
  .banner_titulo {
    font-size: 50px;
  }
  .cursos_titulo {
    font-size: 40px;
  }
}

@media(min-width:1024px) {
  .contenedor {
    width: 1000px;
  }
  .section_titulo {
    font-size: 50px;
    margin: 30px 0;
  }
  .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
  .menu_link {
    background: none;
    font-size: 20px;
  }
  .select {
    color: #fff;
    background: rgb(54, 42, 64);
  }
  .banner_titulo {
    font-size: 60px;
  }
  .banner_txt {
    font-size: 25px;
  }
}

@media(min-width:1280px) {
  .contenedor {
    width: 1200px;
  }
  .logo {
    font-size: 60px;
  }
  .banner .contenedor {
    top: 40%;
  }
}
